doctype html
html.h-100(lang="en")
  head
    title Chat
    // script(src=assetPath('main.css'))
    // gon - global variable from backend  // interpolate to scripts tag
    script.
      var gon = !{JSON.stringify(gon)};
  body.d-flex.flex-column.h-100
    .container.h-100.overflow-hidden.mt-5
      .h-100#chat
      // block content
    script(src=assetPath('main.js'))
