doctype html
html.h-100(lang="en")
  head
    title Chat
    link(rel='icon' type='image/png' href=assetPath('favicon.png'))
    script.
      var gon = !{JSON.stringify(gon)};
  body.h-100
    .container.h-100.py-5
      .h-100#chat
    script(src=assetPath('main.js'))
    script(src=assetPath('vendors~main.js'))
